<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="cabQualityConstruction">
<%= render 'layouts/header' %>
<div id="wrap" class="box-shadow">
<%= yield %>

<!--  <%= render 'layouts/footer' %> -->
</div><!-- ending wrap div -->
</body>
</html>
