<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="cabQualityConstruction">
<%= render 'layouts/header' %>
<div id="wrap" class="box-shadow">
  <div class="main">
  <%= yield %>
  </div><!-- ending main div -->
</div><!-- ending wrap div -->
<%= render 'layouts/footer' %>
</body>
</html>
